
body {
    font-family: 'Montserrat', sans-serif;
}


input.figures {
    width: 60px;
    text-align: center;
}


.level_2_nodes {
    width: 400px;
}


#pageContent {
    margin-top: 20px;
}



.fa-file-download {
    padding: 0 3px 0 3px;
    color: #17a2b8;
    font-size: 1.5em;
}


.fa-file-upload {
    padding: 0 3px 0 3px;
    color: #28a745;
    font-size: 1.5em;
}



/* colors for table cells */

.defect {
    background_color: red;
}


.major {
    background_color: orange;
}


.minor {
    background_color: yellow;
}


.origin {
    background_color: green;
}


.btn-danger.btn-sm {
    line-height: 1.1;
    font-size: .8rem;
}