
body {
    font-family: 'Montserrat', sans-serif;
}


input.figures {
    width: 60px;
    text-align: center;
}


.level_2_nodes {
    width: 400px;
}


#pageContent {
    margin-top: 20px;
}


/* colors for table cells */

.defect {
    background_color: red;
}


.major {
    background_color: orange;
}


.minor {
    background_color: yellow;
}

.origin {
    background_color: green;
}
