{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add Node{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Add Nodes</h1>
</div>


    {% for block in structure.structure %}
    <h3 class="block_name"> {{ block.node_name }} </h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Level 1</th>
                <th scope="col">Level 2</th>
                <th scope="col">Elements</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        {% for level_1 in block.children %}
        <tbody>
            <tr>
                <th scope="row"> {{ level_1.index }} </th>
                <td>
                    <input name="{{ block.index }}_{{ level_1.index }}" value="{{ level_1.node_name}}" readonly>
                </td>
                <td>
                    <table>
                        {% for level_2 in level_1.children %}
                        <tr>
                            <td><input class="level_2_nodes" name="{{ block.index }}_{{level_1.index}}_{{ level_2.index }}"  value="{{ level_2.node_name }}" readonly></td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <table>
                        {% for level_2 in level_1.children %}
                        <tr>
                            <td><input class="figures" name="{{ block.index }}_{{level_1.index}}_{{ level_2.index }}_Elements" value="{{ level_2.Elements }}"></td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <table>
                        {% for level_2 in level_1.children %}
                        <tr>
                            <td><input class="figures" name="{{ block.index }}_{{level_1.index}}_{{ level_2.index }}_Points" value="{{ level_2.Points }}"></td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endfor %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.submit() }}</p>
    </form>



<script>
    var addNodesUrl = "{{ url_for('boiler.add_nodes', boiler_id=id) }}";
    var boilerId = "{{ id }}";
</script>



<script type="text/javascript" src="{{ url_for('static', filename='add_nodes.js') }}"></script>


{% endblock %}