{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="/static/analytics_style.css">
{% endblock styles %}

{% block title %}Analytics{% endblock %}

{% block page_content %}
<div class="container">
 <h2>Mondi SLPK - RB-7U</h2>
 <h1>FURNACE/BOTTOM/LINE 1</h1>
 <br>
 <h4>Last measurements done: <span>2018</span></h4>
 <h3>Average thinning, mm/y: <span id="avg_thinning"></span></h3>
 <h3>Average thickness, mm: <span id="avg_thickness"></span></h3>
 <div class="row">
  <div class="col-lg-6">
   <h3>Thinning progress</h3>
   <canvas id="BarChart" width="528px" height="400px"></canvas>
  </div>
  <div class="col-lg-6">
    <h3>2018</h3>
    <canvas id="PieChart" width="528px" height="400px">PieChart</canvas>
  </div>
 </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var value = {{ parent_id }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='analysis.js') }}">
</script>


{% endblock %}
