{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Boiler Page {% endblock %}

{% block page_content %}
<div class="page-header">
    <h3> <a href=" {{ url_for('main.company', id=boiler.company_id) }} "> {{ company.company_name }} </a></h3>
    <h1>Boiler {{ boiler.boiler_name }} </h1>
    <p>
    {% if current_user.can(Permission.CREATE_BOILER) %}
    <a class="btn btn-danger btn-sm"
    href=" {{ url_for('boiler.edit_boiler', id=boiler.id) }}">
        Edit Boiler
    </a>
    {% endif %}
</p>
</div>

<!-- CHOOSE BOILER ELEMENT -->

<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <input id="chooseNode" type="submit" class="btn btn-info btn-sm" value="Choose element">
</div>


<div class="col-md-12">
    <h3>Measurements</h3>

<!--  ELEMENT NAME   -->

<h3><div id="elementName"> </div></h3>


<!--  BUTTON GROUP WITH YEARS  -->

<div class="btn-group btn-group-sm" role="group" aria-label="year"></div>

<!--  RESULTS IN TABLE  -->

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <th scope="col">#</th>
        <th scope="col">Point Index</th>
        <th scope="col" class="values">Value</th>
        <th scope="col" class="values">Origin</th>
        <th scope="col" class="values">Minor</th>
        <th scope="col" class="values">Major</th>
        <th scope="col" class="values">Defect</th>
    </thead>
    <tbody>
    </tbody>
</table>
</div>


{% endblock %}

{% block scripts %}

<script type="text/javascript" src="{{ url_for('static', filename='show_boiler.js') }}">
</script>




{% endblock %}
