{% extends "base.html" %}

{% block title %}Boiler Page {% endblock %}

{% block page_content %}
<div class="page-header">
<h1>Boiler {{ boiler.boiler_name }} </h1>
    <h3> <a href=" {{ url_for('main.company', id=boiler.company_id) }} "> {{ company.company_name }} </a></h3>
</div>


<p>
    {% if current_user.can(Permission.CREATE_BOILER) %}
    <a class="btn btn-danger btn-xs"
    href=" {{ url_for('boiler.edit_boiler', id=boiler.id) }}">
        Edit Boiler
    </a>
    {% endif %}
</p>

<div class="btn-group btn-group-sm" role="group" aria-label="year">
    <button type="button" class="btn btn-outline-info">2016</button>
    <button type="button" class="btn btn-outline-info">2017</button>
    <button type="button" class="btn btn-outline-info">2018</button>
    <button type="button" class="btn btn-outline-info">2019</button>
</div>

<p>
    <div class="btn-group">
      <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Lower Furnace</a>
        <a class="dropdown-item" href="#">Upper Furnace</a>
        <a class="dropdown-item" href="#">Superheater</a>
      </div>
    </div>
</p>

{% endblock %}
