{% extends "bootstrap/base.html" %}

{% block title %}RB Inspection{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
{% endblock styles %}


{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('main.index') }}"><i class="fas fa-ruler-combined"></i> RB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
          </li>
        </ul>
      </div>
           <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            {% if current_user.is_authenticated %}
            <li class="nav-item active"><a class="nav-link" href="{{ url_for('main.user', id=current_user.id) }}">Profile</a></li>
            <li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
            <li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock navbar%}

{% block content %}
<div id="pageContent" class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
