{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block page_content %}
<div class="page-header">
<h1>{{ user.username }}</h1>
    {% if current_user.can(Permission.USER_REGISTER) %}
    ({{ user.role.name}})
    {% endif %}
</div>
<p> Company: <a href=" {{url_for('.company', id=company.id) }}">{{ company.company_name }}</a></p>
<p> Position: {% if user.position %}{{user.position}}{% endif %} </p>


<h3>Contact Info</h3>

<p> Email: {{ user.email}} </p>
<p> Contact number: {% if user.contact_number %} {{user.contact_number}} {% endif %} </p>

<p>
    {% if user == current_user and not user.can(Permission.USER_REGISTER) %}
    <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
    Edit Profile
    </a>
    <a class="btn btn-default" href="#">
    Change password
    </a>
    {% endif %}
</p>

<p>
    {% if current_user.can(Permission.USER_REGISTER) %}
        {% if user == current_user %}
            <a class="btn btn-default" href="#">
            Change password
            </a>
        {% endif %}
    <a class="btn btn-danger btn-sm"
    href="{{ url_for('.edit_profile_admin', id=user.id) }}">
    Edit Profile
    </a>
    <a class="btn btn-danger btn-sm"> Deactivate Account</a>
    {% endif %}
</p>

{% endblock %}